.search {
    display: flex;
    gap: 1rem;
    padding: 2rem 2.5rem;
    background: #e0e7ff;
    justify-content: center;
}

.search input {
    border-radius: 0.25rem;
}

.search button {
    background-color: #6366f1;
    color: #fff;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
}
